.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.page-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 30px;
}

/* Login Page */
.title-text, #loginSlogan {
  font-style: italic;
  text-align: right;
}

.title-div {
  text-align:right;
}

#loginSlogan { 
  font-size: 20px;
  font-weight: 700;
}

/* Saved Reel Page */
li {
  list-style-type: none; 
}

ul.buttons,
ul.list-group {
  list-style-type: none;
  padding-bottom: 30px;
}

.back-to-dashboard {
  text-align: center;
}