.saved-content {
    margin-top: 30px;
    height: 520px;
    padding: 15px;
    overflow-y: scroll;
    background: rgb(248, 237, 237);
}

.movie-image {
    width: 250px;
    height: 320px;
}

.time-stamp {
    font-size: 17px;
}

.star-rating {
    text-align: center;
    padding: 0;
}


ul {
    display: flex;
    justify-content: center;
    padding: 0;
}

ul .buttons {
    padding-bottom: 10px !important;
}

.movie-synopsis {
    overflow-y: scroll;
    height: 160px;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.movie-title {
    font-weight: bolder;
    margin-bottom: 20px;
    font-style: italic;
}

#synopsis {
    font-weight: bolder;
    font-style: italic;
}

#saved-recipe-head {
    font-style: italic;
    font-weight: bolder;
    font-size: 20px;
}

#saved-recipe {
    font-style: italic;
    font-weight: bolder;
}