.form-container {
    position: relative;
    padding-top: 125px;
}

.form-group {
    margin-bottom: 0.5rem;
}
.panel.panel-default {
    position: absolute;
}
#signup_btn {
    width: 200px;
    padding: 10px 20px;
    background-color: #c3666b;
    border: 0;
    color: #ffffff;
    margin-top: 80px;
}
#signup_btn:hover{
    background-color: #a4494e;;
}