.newUserCard{
    background-color: #ffffff;
    padding: 0 20px;
    width: 90%;
    max-width: 800px;
    height: 820px;
    margin: 50px auto;
    position: relative;
}
.newUserCard .title-text {
    margin-bottom: 20px;
}

#signup_btn {
    background-color: #cf323a !important;
    width: 100% !important;
    max-width: 200px !important;
}

#signup_btn:hover {
    filter: brightness(150%);
}

.copyright {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
    color: #404040;
}

@media (min-width: 360px) {
    #signup_btn {
        margin-top: 150px;
    }
}

@media (min-width: 1100px) {
    .newUserCard {
        margin-top:10%;
    }
    .newUserCard .form-container {
        margin-top: 40px;
    }
}