/* .list-group-item {
    margin-top: 30px;
    padding: 15px;
} */

.new-reel-content {
    margin-top: 30px;
    min-height: 610px;
    padding: 15px;
    /* overflow-y: scroll; */
    background: rgb(248, 237, 237);
}

.movie-image {
    float: left;
    margin: 0 40px 0 0;
    width: 230px;       
    height: 260px;
}

.movie-data {
    margin-bottom: 15px;
    overflow-y: scroll;
}

.movie-description {
    margin-bottom: 15px;
    overflow-y: scroll;
    height: 150px;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.movie-buttons {
    width: 50%;
}

.movie-data span,
.recipe-data span {
    font-weight: bold;
}

.recipe-image {
    float: left;
    margin: 0 40px 0 0;
    width: 230px;
}

.recipe-link a {
    color: rgb(209, 94, 94);
    font-weight: bolder;
}

/* .recipe-data,
.movie-data,
.movie-data p {
    position: abolute;
    display: flex;
} */


/* .view-link {
    float: right;
    color: #ffffff;
    background-color: blue;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    margin-right: 15px;
}
.view-link:hover {
    filter: brightness(80%);
    text-decoration: none;
    color: #ffffff;
} */

