#create_reel_btn {
    width: 200px;
    padding: 10px 20px;
    margin: 20px 10px;
    background-color: #c3666b;
    border: 0;
    color: #ffffff;
}
#create_reel_btn:hover{
    background-color: #a4494e;;
}
label {
    margin-right: 50px;
}
select {
    width: 200px;
}
#saved_reels_btn {
    width: 200px;
    padding: 10px 20px;
    margin: 20px 10px;
    background-color: #c3666b;
    border: 0;
    color: #ffffff;
}
#saved_reels_btn:hover {
    background-color: #a4494e;;
}
.button-container {
    display: block;
    margin: 0 auto;
}