#create_reel_btn {
    width: 200px;
    padding: 10px 20px;
    margin-top: 60px;
    background-color: #c3666b;
    border: 0;
    color: #ffffff;
}
#create_reel_btn:hover{
    background-color: #a4494e;;
}