#username {
    width: 100%;
    margin: 0 auto;
}

#password {
    width:100%;
    margin: 0 auto;
}

.formErrors {
    color: red;
    font-size: 1em;
}

.formErrors p {
    margin-bottom: 0;
}

form {
    max-width: 60%;
    margin: 0 auto;
}

.button-container {
    text-align: center;
}
#new-user-text-link {
    margin-top: 10px;
    color: #404040;
}
#new-user-text-link:hover {
    color: #404040;
    text-decoration: underline;
}
#login_btn{
    width: 200px;
    padding: 10px 20px;
    margin-top: 60px;
    background-color: #c3666b;
    border: 0;
    color: #ffffff;
}
#login_btn:hover{
    background-color: #a4494e;;
}